# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
w_csv = "../output_data/weather_df.csv"
weather_df = pd.read_csv(w_csv)
city_df = weather_df.drop(columns='Unnamed: 0')
city_df

,City,Lat,Lng,Max Temp,Humidty,Cloudiness,Wind Speed,Country,Date
0,paramirim,-13.4425,-42.2389,37.50,70,64,2.55,BR,1614643467
1,port alfred,-33.5906,26.8910,78.80,87,56,3.55,ZA,1614643467
2,punta arenas,-53.1500,-70.9167,22.20,57,0,4.63,CL,1614643393
3,nizhniy odes,63.6445,54.8560,44.60,97,100,3.95,RU,1614643468
4,jamestown,42.0970,-79.2353,55.99,91,75,9.24,US,1614643433
...,...,...,...,...,...,...,...,...,...
551,sobolevo,54.4299,31.8996,275.04,94,100,6.05,RU,1614643617
552,raton,36.9034,-104.4391,280.15,10,1,5.14,US,1614643617
553,lamu,-2.2717,40.9020,297.63,87,0,4.51,KE,1614643617
554,nanchang,28.6833,115.8833,281.50,80,82,4.77,CN,1614643618
555,krasnyy yar,46.5331,48.3456,273.15,93,75,4.00,RU,1614643618

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
location = weather_df[["Lat","Lng"]]
location

         Lat       Lng
0   -13.4425  -42.2389
1   -33.5906   26.8910
2   -53.1500  -70.9167
3    63.6445   54.8560
4    42.0970  -79.2353
..       ...       ...
551  54.4299   31.8996
552  36.9034 -104.4391
553  -2.2717   40.9020
554  28.6833  115.8833
555  46.5331   48.3456

[556 rows x 2 columns]

In [4]:
humid = weather_df['Humidty'].astype(float)
humid

0      70.0
1      87.0
2      57.0
3      97.0
4      91.0
       ...
551    94.0
552    10.0
553    87.0
554    80.0
555    93.0
Name: Humidty, Length: 556, dtype: float64

In [5]:
fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
heat_layer = gmaps.heatmap_layer(location,weights = humid, dissipating=False, max_intensity=10,point_radius=1)

In [8]:
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
narrow_df = city_df
narrow_df = narrow_df.dropna()
narrow_df = narrow_df.loc[(narrow_df['Max Temp'] > 70) & (narrow_df['Max Temp'] <80) & (narrow_df['Wind Speed']< 10) & (narrow_df['Cloudiness'] ==0)]
narrow_df.head()

,City,Lat,Lng,Max Temp,Humidty,Cloudiness,Wind Speed,Country,Date
7,birao,10.2849,22.7882,72.06,19,0,4.74,CF,1614643469
12,shitanjing,39.2342,106.3439,71.60,70,0,0.16,CN,1614643271
44,east london,-33.0153,27.9116,79.00,77,0,9.11,ZA,1614643479
100,llangefni,53.2556,-4.3106,77.28,93,0,1.54,GB,1614643494
188,shancheng,34.7953,116.0817,73.40,74,0,1.61,CN,1614643518

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
hotel_df = narrow_df
hotel_df['Hotel Name']=''
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidty,Cloudiness,Wind Speed,Country,Date,Hotel Name
7,birao,10.2849,22.7882,72.06,19,0,4.74,CF,1614643469,
12,shitanjing,39.2342,106.3439,71.60,70,0,0.16,CN,1614643271,
44,east london,-33.0153,27.9116,79.00,77,0,9.11,ZA,1614643479,
100,llangefni,53.2556,-4.3106,77.28,93,0,1.54,GB,1614643494,
188,shancheng,34.7953,116.0817,73.40,74,0,1.61,CN,1614643518,

In [64]:
base_url ="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [69]:
params = {"types":"hotel",
          "keyword":"hotel",
          "radius": 5000,
          "key":g_key}

for index, row in hotel_df.iterrows():
    base_url ="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    hotel = requests.get(base_url, params = params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel["results"][0]["name"]
    except: (KeyError, IndexError)
    print("Missing")
hotel_df

Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing

,City,Lat,Lng,Max Temp,Humidty,Cloudiness,Wind Speed,Country,Date,Hotel Name
7,birao,10.2849,22.7882,72.06,19,0,4.74,CF,1614643469,
12,shitanjing,39.2342,106.3439,71.60,70,0,0.16,CN,1614643271,
44,east london,-33.0153,27.9116,79.00,77,0,9.11,ZA,1614643479,Blue Lagoon Hotel
100,llangefni,53.2556,-4.3106,77.28,93,0,1.54,GB,1614643494,Nant Yr Odyn Country Hotel
188,shancheng,34.7953,116.0817,73.40,74,0,1.61,CN,1614643518,Xicheng Hotel
237,asfi,32.2994,-9.2372,79.00,82,0,2.24,MA,1614643532,Hôtel Atlantique panorma
294,hambantota,6.1241,81.1185,78.90,76,0,4.47,LK,1614643547,The Peacock Beach Hotel Hambantota
297,norilsk,69.3535,88.2027,72.24,76,0,3.27,RU,1614643547,Gostinichnyy Kompleks Polyarnaya Zvezda
301,augusta,48.3667,10.8833,77.64,75,0,2.57,DE,1614643291,Holiday Inn Express Augsburg
311,lasa,46.6166,10.7002,79.80,74,0,2.57,IT,1614643552,Gasthof Hotel Sonne Silandro
345,san isidro,-12.1167,-77.0500,76.92,78,0,3.09,PE,1614643562,"Miraflores Park, A Belmond Hotel, Lima"
393,strezhevoy,60.7333,77.5889,75.20,76,0,3.00,RU,1614643575,"Гостиница ""Турист"""
426,korla,41.7597,86.1469,75.00,75,0,2.07,CN,1614643584,the puju
443,mandalgovi,45.7625,106.2708,78.36,72,0,5.54,MN,1614643589,Mandal Hotel
478,hami,42.8000,93.4500,75.30,50,0,0.34,CN,1614643599,Liyuan Hotel
539,saldanha,-33.0117,17.9442,78.72,94,0,3.60,ZA,1614643614,Hoedjiesbaai Hotel

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure